<div fxLayout="row wrap">
  <mat-toolbar color="primary">
    <div fxLayout="column" fxFlex="50">
      <div fxLayout="row">
        <div>
          <!-- <p>logo</p> -->
          <img class="logo" src="../../assets/logo/logo.png">
        </div>
        <div>
          <app-searchbar></app-searchbar>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="start end">
      <div fxLayout="row">
        <div>
          <app-toolbar></app-toolbar>
        </div>
        <div>
          <app-profile></app-profile>
        </div>
      </div>
    </div>


  </mat-toolbar>
</div>
